/* ------------------style----------------- */

.descriptionbox{
    margin: 80px 120px;
}

.descriptionbox-navigator{
    display: flex;
}

.descriptionbox-nav-box{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
    width: 120px;
    height: 50px;
    border: 1px solid #d0d0d0;
}

.descriptionbox-nav-box .fade{
    background: #fbfbfb;
    color: #555;
}

.descriptionbox-description{
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 40px;
    border: 1px solid #d0d0d0;
    padding-bottom: 40px;
}