.popular{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 100vh;
}

.popular h1{
    color: #171717;
    font-size: 25px;
    font-weight: 600;
    margin-top: 30px;
}

.popular hr{
    width: 180px;
    height: 4px;
    border-radius: 10px;
    background: #252525;
}

.popular-item{
    margin-top: 32px;
    display: flex;
    gap: 20px;
}